body {
  font-family: Arial;
  height: 2000px;
  background-color: rgb(255, 255, 255);

}

html {  
  scroll-behavior: smooth;
}

.about {
  padding: 60px 100px;

}

.albuns {

  padding: 60px 100px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease,
  filter 1s ease-out;
  cursor: pointer;
}

.grid-box > img:hover {
  transform: scale(1.2);
}

.grid-container:hover :not(:hover) {
  filter: grayscale(100%);
}

.grid-box {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 20px;
}

